<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="./assets/style.css" />
    <link rel="icon" href="./assets/favicon.ico" />
</head>
<body>
    {% for section in sections %}
        <div class="section-wrapper wrapper-{{ section }}">
            <section class="{{ section }}-section" id="{{ section }}">
                {% set next_section = sections[loop.index] %}
                {% include section ~ '.html.njk' %}
            </section>
        </div>
    {% endfor %}

    <script src="./assets/app.js"></script>
</body>
</html>