<h2>{{ skills.title }}</h2>

<div class="skills">
    {% for category in skills.categories %}
        <div class="skill-category">
            <strong>{{ category.title }}</strong>

            <ul>
                {% for skill in category.items %}
                    <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>