<div class="profile">
    {% include 'code-icon.svg' %}

    <h1>{{ profile.name }}</h1>

    {% if profile.baselines|length %}
    <div class="baselines">
        {% for baseline in profile.baselines %}
        <strong {% if loop.first %}class="active"{% endif %}>
            {{ baseline }}
        </strong>
        {% endfor %}
    </div>
    {% endif %}

    {% if next_section %}
        <a href="#{{ next_section }}">Next</a>
    {% endif %}
</div>