<div class="profile">
    {% include 'code-icon.svg' %}

    <h1>{{ profile.name }}</h1>

    {% if profile.baselines %}
    <div class="baselines">
        {% for baseline in profile.baselines %}
        <strong class="baseline {% if loop.first %}active"{% endif %}">
            {{ baseline }}
        </strong>
        {% endfor %}
    </div>
    {% endif %}

    {% if next_section and false %}
        <a href="#{{ next_section }}">Next</a>
    {% endif %}
</div>