<div class="profile">
    {% include 'code-icon.svg' %}

    <h1>{{ profile.title }}</h1>

    {% if profile.baselines %}
    <div class="baselines">
        {% for baseline in profile.baselines %}
        <strong class="baseline {% if loop.first %}active"{% endif %}">
            {{ baseline }}
        </strong>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% if locales|length > 1 %}
    <div class="locales">
        {% for locale in locales %}
            {% set path = locale %}
            {% if locale == defaultLocale %}
                {% set path = 'index' %}
            {% endif %}

            <a href="./{{ path }}.html">
                <img src="./assets/flag-{{ get_flag(locale) }}.svg" class="flag" alt="{{ locale }} flag">
            </a>
        {% endfor %}
    </div>
{% endif %}