@import "webfonts/brands.css";

:root {
    --splash-gradient: linear-gradient(136deg, #9AE8B4, #2abdaf, #FF9F5C, #FF3F29, #FFED50);
    --splash-gradient-speed: 25s;
    --splash-baseline-blur-speed: 0.45s;
    --background-even: #250C29;
    --background-odd: #311036;
    --background-scrollbar: #0E050F;
    --text-color: #fff;
    --spacer: 3rem;
    --max-section-width: 1200px;
    --primary-color: #47DEB5;
    --skill-badge-background: var(--primary-color);
    --skill-badge-color: var(--background-odd);
    --skill-progress-bar-background: #121722;
    --skill-progress-bar: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 9px;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 20px;
}

html::-webkit-scrollbar-track {
    background: var(--background-scrollbar);
    border-radius: 20px;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.section-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.section-wrapper:nth-child(even) {
    background-color: var(--background-even);
    box-shadow: inset 0 12px 40px rgba(0, 0, 0, 0.3);
}

.section-wrapper:nth-child(odd) {
    background-color: var(--background-odd);
}

section {
    box-sizing: border-box;
    color: var(--text-color);
    max-width: var(--max-section-width);
    flex-grow: 1;
}

section h2 {
    font-size: 2.3rem;
    font-weight: 300;
}

.section-wrapper.wrapper-splash {
    padding-top: 0;
    box-shadow: none;
}

.splash-section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: var(--splash-gradient);
    background-size: 1200% 1200%;
    animation: SplashAnimation var(--splash-gradient-speed) ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.splash-section .profile {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.splash-section .profile svg {
    height: 60px;
}

.splash-section .profile h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0.2rem;
}

.splash-section .baselines {
    padding: 0 2rem;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

.splash-section .baseline {
    display: none;
    height: 2.2em;
}

.splash-section .baseline.active {
    display: inherit;
}

.splash-section .baseline span {
    transition: filter var(--splash-baseline-blur-speed) linear,
                opacity var(--splash-baseline-blur-speed) linear;
    filter: blur(0);
    opacity: 1;
}

.splash-section .baseline span.blur {
    filter: blur(25px);
    opacity: 0;
}

.splash-section .locales {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.splash-section .locales a {
    text-decoration: none;
    margin: 0 1rem;
}

.splash-section .locales img {
    height: 45px;
    transition: height 0.15s linear, width 0.15s linear;
}

.splash-section .locales a:hover img {
    height: 65px;
}

.about-section {
    display: flex;
    padding: var(--spacer);
    flex-direction: column;
    align-items: center;
}

.about-section .avatar {
    width: 320px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.about-section .text-content {
    text-align: center;
    flex-grow: 1;
}

.projects-section h2 {
    margin-left: 7%;
    margin-bottom: 0;
}

.projects-section .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.projects-section .project {
    border-radius: 3px;
    width: 90%;
    margin: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projects-section .project .text-content {
    flex-grow: 1;
    margin: 1rem 0;
    width: 100%;
}

.projects-section .project h3 {
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0;
}

.projects-section .project .project-url {
    color: var(--text-color);
    display: block;
}

.projects-section .project .skills {
    margin-top: 1rem;
}

.projects-section .project .skill-badge {
    font-size: 0.75rem;
    background-color: var(--skill-badge-background);
    color: var(--skill-badge-color);
    border-radius: 200px;
    display: inline-block;
    padding: 0.3rem 0.8rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
                 Bitstream Vera Sans Mono, Courier New, monospace;
}

.projects-section .project .screenshot {
    max-width: 100%;
    max-height: 230px;
}

.skills-section {

}

.skills-section h2 {
    margin-left: 7%;
}

.skills-section .skills {
    margin-left: 7%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.skills-section .skill {
    width: 95%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
}

.skills-section .skill-category {
    width: 100%;
    margin-bottom: 2rem;
}

.skills-section .skill-category strong {
    font-weight: 300;
    font-size: 1.6rem;
}

.skills-section .skill-category ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    font-size: 1rem;
    padding: 0;
    flex-wrap: wrap;
}

.skills-section .skill-category ul li {
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.contact-section {
    text-align: center;
    padding-bottom: 2rem;
}

.contact-section address {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    padding: 0 var(--spacer);
}

.contact-section address a {
    color: var(--primary-color);
    text-decoration: none;
}

.contact-section nav.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section nav.social ul li {
    margin-top: 1rem;
    font-size: 2.5rem;
    padding: 0.75rem;
}

.contact-section nav.social ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.15s linear;
}

.contact-section nav.social ul li a:hover {
    color: var(--primary-color);
}

a.contact-mail::before {
    content: "✉️";
    margin-right: 0.2rem;
}

.fa-brands {
    font: var(--fa-font-brands);
}

@keyframes SplashAnimation {
    0% { background-position: 0 7%; }
    50% { background-position: 100% 94%; }
    100% { background-position: 0 7%; }
}

@media only screen and (min-width: 1024px) {
    .splash-section .profile h1 { font-size: 4.5rem }
    .splash-section .baselines { font-size: 2rem }
    .about-section { flex-direction: row }
    .about-section .avatar { margin-right: var(--spacer) }
    .projects-section .project { flex-direction: row; }
    .projects-section .project .screenshot { margin-right: 2rem }
    .skills-section .skill-category { width: 50%; }
}
